<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>メニュー</title>
    <meta charset="UTF-8">
</head>

<body>
    <th:block th:insert="/common/header"></th:block>

    <div>
        <span th:if="${session.user.role == 1}">
            <button><a th:href="@{/insert}">新規追加</a></button>
        </span>
        <span>
            <button><a th:href="@{/mypage}">マイページ</a></button>
        </span>
    </div>

    <form action="/menu">
        <div>
            <input type="text" name="keyword" placeholder="キーワード検索">
            <input type="submit">
        </div>
    </form>

    <div>
        <span th:each="levels : ${levels}">
            <label th:for="${levels.id}">
                <input type="radio" th:id="${levels.id}" name="level" th:value="${levels.id}" th:text="${levels.level}" checked onchange="func()">
            </label>
        </span>
    </div>

    <table>
        <thead>
            <tr>
                <th>曲名</th>
                <th>ジャンル</th>
                <th th:if="${session.user.role == 1}">詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="song : ${songs}">
                <td><a class="link" th:href="@{https://donderhiroba.jp/score_detail.php?song_no={songId}&level=4&genre={genreId} (songId = ${song.songId}, genreId = ${song.genreId})}" th:text="${song.name}" target="_blank"></a></td>
                <td th:id="${song.genreId}" th:text="${song.genre}"></td>
                <td th:if="${session.user.role == 1}"><a th:href="@{/detail/{id} (id = ${song.id})}">詳細</a></td>
            </tr>
        </tbody>
    </table>

<script>
    let checkValue = '';
    function func() {
        var getLblId = document.getElementsByName("level");
        for(var i = 0; i < getLblId.length; i++){
            if(getLblId[i].checked) {
            checkValue = getLblId[i].value;
            }
        }
        let getLink = document.getElementsByClassName('link');
        for(let l of getLink){
            let tekito = (l.getAttribute('href').split('level='));
            l.setAttribute('href',tekito[0]+'level='+checkValue+tekito[1].slice(1));
        }
    }


</script>

</body>
</html>